.user-card{
  border: .5px solid black;
  padding: 40px;
  margin: 20px;
   font-family: 'Slabo 27px', serif;
   box-shadow: 10px 10px grey !important;
   height: 150px;
   background-color: #e3c4a8

}

.completed{
  background-color: #c5fad9
}

.doneButton {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 13px;
cursor: pointer;
color: #fff !important;
background: green;
padding: 20px;
border: none;
width: 528px;
position: absolute;
bottom: .1px;
left: .1px;


}

.doneButton:hover {
background: #004a2f;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.card-title{
width: 250px;
position: absolute;
top: 10px;
font-family: 'Quicksand', sans-serif;
/* font-family: 'Josefin Sans', sans-serif; */

}
.card-tree{
  height: 30px;
  position: absolute;
  right: 20px;
  top: 22px;

}

.points-div{
  position: absolute;
  top: 100px;
  left: 60px;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}

.gif{

  position: absolute;
  top: 25px;
  right: 50px;
  height: 100px;
  width: 125px;
}
